@use '../variable.scss' as *;

#pic {
  width: 100%;
  min-height: calc(100% - pxTorem(20px));
  background-color: white;
  border-radius: pxTorem(8px);
  box-shadow: 0px 0px pxTorem(10px) rgba(0, 0, 0, 0.1);
  //   padding: pxTorem(32px) pxTorem(64px);
  box-sizing: border-box;
}

.aside {
  display: none;
}

.main {
  padding: 0;

  .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: pxTorem(48px);
    margin-top: pxTorem(10px);

    .options-left,
    .options-mid,
    .options-right {
      display: flex;
      flex: 1;
    }

    .options-left {
      .show-folder-panel,
      .show-image-count {
        margin-right: pxTorem(32px);
      }
    }

    .options-mid {
      justify-content: center;
      text-align: center;
    }

    .options-right {
      justify-content: right;

      .search-image-input {
        display: flex;
        margin-right: pxTorem(16px);
      }

      .image-sort-option {
        display: flex;
        background-color: #409eff;
        border-radius: pxTorem(4px);

        .dropdown-text {
          display: flex;
          align-items: center;
          font-size: pxTorem(14px);
          color: white;
          padding: 0 pxTorem(8px);

          span {
            margin-right: pxTorem(8px);
          }

          i {
            padding-top: 2px;
          }
        }
      }
    }

    span {
      margin-left: pxTorem(8px);
    }
  }

  .empty-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: pxTorem(10px);
    color: #878787;
  }

  .pagination-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: pxTorem(10px) 0;
  }

  .pic-drawer {
    .drawer-item {
      margin-bottom: pxTorem(16px);

      .title {
        font-size: pxTorem(14px);
        font-weight: 700;
        margin-bottom: pxTorem(16px);
      }
    }
  }
}

// 相册抽屉
.album-drawer {
  .album-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: pxTorem(8px);
    width: 100%;

    .album {
      display: flex;
      justify-content: space-between;
      background-color: #f3f4f6;
      padding: pxTorem(8px) pxTorem(12px);
      border-radius: pxTorem(4px);

      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background-color: #2c99ff;
        color: white;

        & :deep(.delete) {
          color: rgb(255, 61, 61) !important;
        }
      }

      .options-button {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          margin-left: pxTorem(8px);
          transition: all 0.3s;
        }
      }
    }
  }
}
