@use '../variable.scss' as *;

#upload {
  width: calc(100vw - pxTorem(128 + 332px));
  min-height: calc(100% - pxTorem(20px));
  background-color: white;
  border-radius: pxTorem(8px);
  box-shadow: 0px 0px pxTorem(10px) rgba(0, 0, 0, 0.1);
  padding: pxTorem(32px) pxTorem(64px);
  box-sizing: border-box;
}

.title {
  font-size: pxTorem(28px);
  color: $subColor;
  margin-bottom: pxTorem(16px);
  text-shadow:
    0 2px 4px rgba(0, 0, 0, 0.12),
    0 0 6px rgba(0, 0, 0, 0.04);
}

.tips {
  font-size: pxTorem(14px);
  margin-bottom: pxTorem(16px);
}

.upload {
  .el-icon--upload {
    font-size: 80px;
    transition: all 0.3s;
    &:hover {
      color: $mainColor;
    }
  }

  .select-options {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: pxTorem(16px);
    .select-text {
      width: 10%;
      padding-right: pxTorem(32px);
    }
  }

  .upload-failed-tips {
    .upload-failed-text {
      width: 10%;
      padding-right: pxTorem(32px);
    }

    .upload-failed-items {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: pxTorem(16px) pxTorem(16px);
      margin-top: pxTorem(16px);

      .upload-failed-item {
        font-size: pxTorem(12px);
      }
    }
  }

  .custom-file {
    position: relative;
    display: flex;
    width: 100%;
    flex: 1;

    .custom-file-right {
      width: pxTorem(64px);
      height: pxTorem(64px);
      border-radius: pxTorem(8px);
      overflow: hidden;
      margin-right: pxTorem(16px);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .custom-file-mid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 10;

      .file-info {
        display: flex;
        justify-content: space-between;

        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: pxTorem(16px);
        }

        .link-text {
          display: flex;
          justify-content: space-between;
          padding-top: pxTorem(8px);
          p {
            margin-right: pxTorem(24px);
          }
        }

        .link {
          transition: all 0.3s;

          &:hover {
            color: $mainColor;
            cursor: pointer;
          }
        }
      }

      .progress :deep(.el-progress__text) {
        position: relative;
        right: 0;
        top: 0;
      }
    }

    .custom-file-left {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex: 1;

      .remove-file {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: pxTorem(32px);
        height: pxTorem(32px);
        border-radius: 50%;
        background-color: #f56c6c;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: #ff4d4f;
        }
      }
    }
  }
}
