@use '../variable.scss' as *;

#home {
  background-image: url('/public/images/background.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  .title-box {
    width: pxTorem(600px);
    text-align: center;
    margin-bottom: pxTorem(20px);
    h1 {
      font-size: pxTorem(40px);
      font-weight: 500;
    }
  }

  .upload-btn {
    display: flex;
    padding: pxTorem(10px) pxTorem(20px);
    background-color: #3b62fe;
    border-radius: pxTorem(10px);
    color: white;
    transition: all 0.3s;

    i {
      font-size: pxTorem(24px);
      margin-right: pxTorem(6px);
    }
    &:hover {
      opacity: 0.5;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: pxTorem(32px);
  background-color: white;
  text-align: center;
  color: gray;
  width: 100%;

  a {
    color: gray;
  }
}
