@use '../variable.scss' as *;

$mainColor: #1ef66f;
$transitionTime: 0.5s;

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  // background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

// 登录盒子样式
.login-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba($color: #898989, $alpha: 0.5);
  overflow: hidden;

  // 登录盒子背景图
  .login-bg {
    width: 35%;
    height: 100%;
    background-image: url('/images/login-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  // 登录块样式
  .login-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;

    // 登录标题样式
    .login-title {
      font-weight: 100;
      font-size: 32px;
      letter-spacing: 8px;
      margin-bottom: 16px;
    }

    // 登录表单样式
    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      // 输入框样式
      .username,
      .password {
        width: pxTorem(340px);
        height: 40px;
        color: black;
        font-size: 16px;
        border: none;
        text-align: center;
        border-radius: 4px;

        .el-input__wrapper {
          box-shadow: none;
          background-color: pink;
        }
      }

      // 登录按钮样式
      .login-button {
        padding: 0;
        width: pxTorem(340px);
        height: 40px;
        color: white;
        font-size: 16px;
        background-image: linear-gradient(90deg, #1bebf7 0%, #1ef66f 100%);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: opacity $transitionTime;

        &:hover {
          opacity: 0.5;
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }

    // 链接块样式
    .link {
      display: flex;
      justify-content: space-evenly;
      width: pxTorem(340px);

      a {
        color: black;
        transition: color $transitionTime;
        margin-bottom: pxTorem(16px);

        &:hover {
          color: $mainColor;
        }
      }
    }
  }
}

/* 注意这里使用了 :deep() 来穿透 scoped 样式 */
.username :deep(.el-input__wrapper),
.password :deep(.el-input__wrapper) {
  box-shadow: none !important; /* 无边框 */
  background-color: #f5f5f5; /* 淡灰色背景，替换了你的 pink */
}

.username :deep(.el-input__inner),
.password :deep(.el-input__inner) {
  text-align: center !important; /* 文字居中 */
  color: black; /* 文字颜色 */
  /* 可以将其他针对输入框本身的样式（如 font-size）也放在这里 */
}
