// 在你的 variable.scss 文件顶部添加这行
@use 'sass:map';

$mainColor: #ff7587;
$subColor: #6bcbff;
$transitionTime: 0.5s;
$browser-default-font-size: 16px !default;

%fullview {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: $browser-default-font-size;
}
@function pxTorem($px) {
  //$px为需要转换的字号
  @return calc($px / $browser-default-font-size) * 1rem;
}

// icon 图标
@mixin icon-style($config: ()) {
  $defaults: (
    bg-color: #000,
    icon-url: '/images/icon/disk.svg',
    size: 48px,
    display: inline-block,
    margin-right: 0px,
  );

  $settings: map.merge($defaults, $config);

  background-color: map.get($settings, bg-color);
  mask: url(map.get($settings, icon-url)) no-repeat center;
  mask-size: cover;
  width: pxTorem(map.get($settings, size));
  height: pxTorem(map.get($settings, size));
  display: map.get($settings, display);
  margin-right: pxTorem(map.get($settings, margin-right));
}
